*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: all 0.3s ease-out;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    background-color: #f172a1;
}



nav ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: large;
    background-color: pink;
    padding: 10px;
    border-radius: 5px;
}


main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    background-color: #e64398;
    color: #f0ebf4;
}

main form{
    padding: 10px;
    max-width: 95vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: #b39bc8;
    border-radius: 5px;
}

.name1, .name2{
    margin: 20px;
}

.name1 div, .name2 div{
    margin-top: 30px;
}

main form input{
    padding: 7px;
    border-radius: 5px;
    border: none;
}

.calbtn{
    padding: 7px;
    width: fit-content;
    margin: 0 auto;
    border-radius: 5px;
    border: none;
}


#result{
    height: 50%;
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background: #e64398;
    border-radius: 10px;
    color: #ffbcde;
    font-size: x-large;
    font-weight: 700;
}

.my-chart{
    height: 100%;
    width: 40%;
}


#gif img{
    height: 100%;
    max-width: 100vw;
}

#gif{
    height: 30%;
}

.love-cata{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#zodiac1, #zodiac2{
    margin-left: 10px;
    width: 180px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

@media screen and (max-width: 600px){
    main form{
        flex-direction: column;
    }
    .name1, .name2{
        margin: 10px;
    }
    .name1 div, .name2 div{
        margin-top: 10px;
    }
    .love-cata{
        width: 100%;
    }
    #zodiac1, #zodiac2{
        margin-left: 7px;
    }
}