*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: all 0.3s ease-out;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.page-title{
    font-size: 30px;
    font-weight: bold;
    color: #FF2C64;
    font-size: 20px;
    text-decoration: none;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

nav ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: large;
    padding: 10px;
    border-radius: 5px;
}

nav ul li a:hover{
    background-color: #FF2C64;
    color: white;
}

.background{
    z-index: -1;
    position: absolute;
    opacity: 0.7;
    top: 25%;
    width: 100%;
}

.background svg{
    width: 100%;
}



.tag-line{
    text-align: left;
    margin: 100px 20px 100px 20px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

.name1, .name2{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
}

.name1 div, .name2 div{
    display: flex;
    flex-direction: column;
}

.user-info{
    padding: 20px;
}

.user-info form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

main form input[type="text"]{
    width: 200px;
    padding: 7px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    border: 2px solid #FF2C64;
    box-shadow: 10px 10px 10px #00000062;
}

form label{
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}

.user-info form button{
    padding: 7px;
    width: fit-content;
    margin: 50px;
    border-radius: 5px;
    border: none;
    background: #FF2C64;
    color: white;
    font-size: 20px;
    box-shadow: 10px 10px 10px #00000062;
}

.user-info form button:hover{
    box-shadow: 5px 5px 10px #00000062;
    color: #FF2C64;
    background: white;
    cursor: pointer;
}

#zodiac1, #zodiac2{
    margin-top: 20px;
    width: 150px;
    padding: 7px;
    border: 2px solid #FF2C64;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #00000062;
}

#result{
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 10px;
    font-size: x-large;
    font-weight: 700;
}

.my-chart{
    height: 100%;
    width: 40%;
}

.love-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    background: #FF2C64;
}

.z1svg, .z2svg{
    align-items: center;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    width: 45%;
    padding: 20px;
    border-radius: 10px;
}

.zodiac-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    padding: 20px;
}

.zodiac-info h3, .zodiac-info p{
    color: white;
    margin: 20px;
}

.zodiac-info h3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}

.zodiac-info p{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#recheckper{
    background: #FF2C64;
    display: none;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    color: white;
    padding-bottom: 20px;
}

#recheckper button{
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background: white;
    color: #FF2C64;
    padding: 10px;
    box-shadow: 10px 10px 10px #00000062;
}

#recheckper button:hover{
    color: white;
    background: #FF2C64;
    box-shadow: 5px 5px 10px #00000062;
    cursor: pointer;
}

.share a{
    text-align: center;
    text-decoration: none;
    position: fixed;
    right: 10px;
    top: 50%;
    width: 100px;
    background: white;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #00000062;
    color: #FF2C64;
}

.share :hover{
    background: #FF2C64;
    color: white;
    box-shadow: 5px 5px 10px #00000062;
}



.love-calculator{
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
}

.love-calculator a{
    border-radius: 5px;
    border: none;
    background: #FF2C64;
    font-size: 20px;
    padding: 10px;
    color: white;
    text-decoration: none;
    box-shadow: 10px 10px 10px #00000062;
}

.love-calculator a:hover{
    color: #FF2C64;
    box-shadow: 5px 5px 10px #00000062;
    background: white;
    cursor: pointer;
}


@media screen and (max-width: 600px) {
    nav{
        flex-direction: column;
    }

    .tag-line{
        margin: 50px 20px 100px 20px;
    }

    nav ul{
        margin-top: 20px;
        width: 100%;
    }

    nav a{
        font-size:smaller;
    }
}
