*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: all 0.3s ease-out;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.page-title{
    font-size: 30px;
    font-weight: bold;
    color: #FF2C64;
    font-size: 20px;
    text-decoration: none;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

nav ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: large;
    padding: 10px;
    border-radius: 5px;
}

nav ul li a:hover{
    background-color: #FF2C64;
    color: white;
}

.background{
    z-index: -1;
    position: absolute;
    opacity: 0.7;
    top: 25%;
    width: 100%;
}

.background svg{
    width: 100%;
}

.user-info{
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    transform: translatey(-50%);
    width: 100%;
}

.tag-line{
    text-align: left;
    margin: 100px 20px 250px 20px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

.user-info form{
    width: 100%;
}

.user-info form div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.user-info form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

main form input[type="text"]{
    padding: 7px;
    margin: 20px;
    width: 60%;
    border: none;
    border-radius: 5px;
    border: 2px solid #FF2C64;
    box-shadow: 10px 10px 10px #00000062;
}

form label{
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}

.user-info form button{
    padding: 7px;
    width: fit-content;
    margin: 0 auto;
    border-radius: 5px;
    border: none;
    background: #FF2C64;
    color: white;
    font-size: 20px;
    box-shadow: 10px 10px 10px #00000062;
}

.user-info form button:hover{
    box-shadow: 5px 5px 10px #00000062;
    color: #FF2C64;
    background: white;
    cursor: pointer;
}

#result{
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 10px;
    font-size: x-large;
    font-weight: 700;
}

.my-chart{
    height: 100%;
    width: 40%;
}

#recheckper{
    background: #FF2C64;
    display: none;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    color: white;
    padding-bottom: 20px;
}

#recheckper button{
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background: white;
    color: #FF2C64;
    padding: 10px;
    box-shadow: 10px 10px 10px #00000062;
}

#recheckper button:hover{
    color: white;
    background: #FF2C64;
    box-shadow: 5px 5px 10px #00000062;
    cursor: pointer;
}

#gif img{
    width: 200px;
    margin: 20px auto;
    border-radius: 10px;
}

#gif{
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF2C64;
}

.love-cata{
    background: #FF2C64;
    display: none;
    flex-direction: column;
    width: 100%;
    list-style: none;
    padding: 20px;
    color: white;
}

.love-cata p{
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}

.love-cata li{
    font-weight: 500;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    margin: 1px;
    background: white;
    color: #FF2C64;
}

.loveInfotext{
    display: none;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #FF2C64;
    color: white;
}

.share a{
    text-align: center;
    text-decoration: none;
    position: fixed;
    right: 10px;
    top: 50%;
    width: 100px;
    background: white;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #00000062;
    color: #FF2C64;
}

.share :hover{
    background: #FF2C64;
    color: white;
    box-shadow: 5px 5px 10px #00000062;
}



.zodiac-calculator{
    color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
}

.zodiac-calculator a{
    border-radius: 5px;
    border: none;
    background: #FF2C64;
    font-size: 20px;
    padding: 10px;
    color: white;
    text-decoration: none;
    box-shadow: 10px 10px 10px #00000062;
}

.zodiac-calculator a:hover{
    color: #FF2C64;
    box-shadow: 5px 5px 10px #00000062;
    background: white;
    cursor: pointer;
}
.accordion {
    background:#FF2C64;
    margin: 1px 0;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  
.active, .accordion:hover {
    background-color: white;
    color: #FF2C64;
}
  
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.FAQS-heading{
    margin: 10px auto;
    font-size: x-large;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.copy{
    display: flex;
    justify-content: space-evenly;
    background: #FF2C64;
    padding: 20px;
    text-align: center;
    color: white;
}
.copy a{
    text-decoration: none;
    color: white;
}
.FAQs{
    background: white;
    display: flex;
    flex-direction: column;
}

.famous-love-results{
    background: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.famous-love-results h3{
    background: white;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
    padding: 10px;
}

.famous-love-results table{
    color:white;
    width: 100%;
}

.famous-love-results table tr th{
    background: #FF2C64;
    padding: 20px;
}



@media screen and (max-width: 600px) {
    nav{
        flex-direction: column;
    }

    .tag-line{
        margin: 50px 20px 100px 20px;
    }

    nav ul{
        margin-top: 20px;
        width: 100%;
    }

    .user-info {
        padding: 5px;
    }

    .user-info form input{
        width: 50%;
        margin: 5px;
    }

    .user-info form label{
        margin: 2px;
    }
}
